.btn {
	border: 0px solid transparent;
	border-radius:0;
  //@include btn-variant($btn-color, $btn-background, $btn-border);

  &:hover {
		//@include btn-variant($btn-color, $btn-background, $btn-border);
    text-decoration: none;
	}


	&,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

	&:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.btn-default,
.btn-secondary {
	@include btn-variant($btn-secondary-color, $btn-secondary-background, $btn-secondary-border);

	&:active,
	&:focus,
	&:active:focus,
	&:active:hover {
		color:$btn-secondary-active;
		background-color:$btn-secondary-active-background;
		border-color:$btn-secondary-active-border;
	}
}

.btn-primary {
  @include btn-variant($btn-primary-color, $btn-primary-background, $btn-primary-border);

	&:active,
	&:focus,
	&:active:focus,
	&:active:hover {
		color:$btn-primary-active;
		background-color:$btn-primary-active-background;
		border-color:$btn-primary-active-border;
	}
}

a.btn-primary {
	&,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

	&:visited {
		color:$btn-primary-color;
	}
}

a.btn-secondary {
	&,
	&:visited {
		color:$btn-secondary-color;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		margin:0 10px 0 0;
		vertical-align: middle;
		font-size:$font-size-base*1.4;
		color:$gray-light;
	}
}
