/* 1. Use eValue branding */
@import '_variables.scss';
@import '_mixins.scss';

/* 2. Use Bootstrap-sass to fill any gaps */
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';

/* 3. import the styling itself */
@import '_buttons.scss';
@import '_panels.scss';
@import '_navbar.scss';
@import '_navs.scss';
@import '_icomoon.scss';
@import '_login.scss';
@import '_tables.scss';
@import '_breadcrumbs.scss';


/*
	Some styling that I'm putting here for the time being.
	TODO: does it need to be stripped into separate _layout.scss file(s)?
*/

/* links
*********************************************************** */
a {
	@include link-variant (	$link-color,$link-visited-color,$link-hover-color,$link-active-color,$link-decoration,$link-decoration-hover)
}

footer a {
	@include link-variant (	$link-footer-color,$link-footer-visited-color,$link-footer-hover-color,$link-footer-active-color,$link-footer-decoration,$link-footer-decoration-hover)
}

header a,
header .btn-link {
	@include link-variant (	$link-header-color,$link-header-visited-color,$link-header-hover-color,$link-header-active-color,$link-header-decoration,$link-header-decoration-hover)
}

a.btn-default {
	color:$btn-secondary-color;
}

/* Bootstrap Tables
*********************************************************** */
.table {
	.non-numeric {
		text-align:left;
	}
}

.fixed-table-container {
	border-radius:0;
}



/* Bootstrap: #Alerts
*********************************************************** */
.alert {
	[class*=" icon-"],
	[class^="icon-"] {
		font-size: $font-size-base*2;
		margin-right: 20px;
	}

	h2 {
		margin: 0;
		font-size: $font-size-base*1.6;
	}
}


/* Layout: #Sticky Footer
*********************************************************** */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px;

  @media (max-width: $screen-xs-max) {
    margin-bottom:0;

  }
}

/* Layout: #Header
*********************************************************** */
// In the case of a navbar needing to vertically aligned in the middle e.g. log out
// A class of header-vertical-middle needs to be added to the navbar-nav div.
.navbar-nav.header-vertical-middle {
	// this will override the bottom alignment of a navbar
	padding-top:($logo-min-height / 2) - ($font-size-base*0.65 / 2) - 10px;
}

/* Layout: #main wrapper
*********************************************************** */
main {
  padding-top:$main-padding-top;

  @media (max-width: $screen-xs-max) {
    padding-top:($main-padding-top * 0.75);
  }

  @media (min-width: $screen-xs-min)  and (max-width: $screen-sm-min) {

  }
}

/* Layout: #sections
*********************************************************** */
section {
  padding-bottom:20px;
  margin-bottom:30px;
}


/* Layout: #footer
*********************************************************** */
footer {
  position: absolute;
  z-index:300;
  bottom: 0;
  left:0;
  width:100%;
  height: 80px;
  background-color: $footer-bg;
  border-top:0 solid $gray-lighter;

  .container,
	.container-fluid {
    padding-top:20px;
  }

  p {
    color:$footer-text-color;
  }

  ul {
    margin-bottom:-20px;
    float:right;

    li {
      display:inline-block;
      padding-left:10px;

    }
  }


  @media (max-width: $screen-xs-max) {
    position:relative;
    height:auto;
    padding-bottom:10px;
  }

  @media (max-width: $screen-sm-min) {
    ul,
    p {
      //float:none;
      //text-align:center;
    }

    ul {
      float:left;
      padding-left:0;
      margin-bottom:0;

      li {
        padding-left:0;
        padding-right:5px;
      }
    }
  }
}

/* icomoon example layout - not for production use!
*********************************************************** */
.example-icomoon {
	margin-top:40px;
	li {
		text-align:center;
		width:24%;
		margin-bottom:40px;
		padding:0;
	}

	[class*="icon-"],
	[class^="icon-"] {
		font-size:$font-size-base*2.5;
	}
}
