/* Specific Pages: #Login
*********************************************************** */
.login-wrapper {
  margin: 10px auto 40px;

  .btn {
    margin: 20px 0;
    width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    width: 90%;
		margin-top:60px;
  }
}

.login-intro {
  margin: 0 0 40px;
}

#b-account-blocked {
  h1 {
    line-height: 1.4em;
  }
}

.bg-warning{
	padding:15px;
	font-size:16px;
	text-align:center;
}

#forgot-password {
  text-align: center;
}
