/* #Navbar - eValue styling
*********************************************************** */
.navbar {
  position:fixed;
  width:100%;
  z-index:1029;
  margin-bottom:0;
  border-width:0;
  min-height:1px;
}

.nav {
  li {
    a {
      padding:10px 24px;
    }
  }

  li.active:after {
    height: 4px;
    background-color: $white;
    width: 100%;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

	@media (max-width: $screen-xs-max) {
		li.active {
			background-color:$brand-primary;
			color:$white;
		}

		li.active:after {
			height:0;
		}
	}
}

.navbar-default {
	.navbar-nav {
		//margin-top: $navbar-height;
		height:$logo-min-height;
		padding:0;
		//padding-top:($logo-min-height / 2) - ($font-size-base*0.65 / 2) - 10px;
		padding-top:($logo-min-height) - (($font-size-base*1.428571429) + $navbar-padding-vertical);

		li {
			a {
				padding: 10px 24px;
				&:focus {
					background-color: lighten($navbar-default-link-hover-bg,20%);
					color: $white;
				}
			}
		}


		> li > a {
			&:hover {
				color: $navbar-default-link-hover-color;
				background-color: $navbar-default-bg;
			}

			&:focus {
				color: $navbar-default-link-hover-color;
				background-color: $navbar-default-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover {
				color: $navbar-default-link-active-color;
				background-color: $navbar-default-bg;
			}

			&:focus {
				color: $navbar-default-link-active-color;
				background-color: $navbar-default-link-hover-bg;
			}
		}

		@media (max-width: $screen-sm-min) {
			li {
				a {
					padding: 10px 15px;
				}
			}
		}
		@media (max-width: $screen-xs-min) {
			li.active {
				a {
					background-color: $brand-primary!important;
					color:$gray;
				}
			}
			li.active:after {
				display: none;
			}
		}
	}
}

.navbar-brand {
	height:auto;
}
